<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>List of articles:</h1>
    <% @articles.each do |artcl| %>
      <h2><%= artcl.title %></h2>
      <p><%= artcl.text %></p>
      <p><%= link_to 'Show!', article_path(artcl), class: "btn btn-primary btn-xs", role: "button" %> <%= link_to 'Edit', edit_article_path(artcl), class: "btn btn-info btn-xs", role: "button" %> <%= link_to 'Delete', article_path(artcl), class: "btn btn-danger btn-xs", role: "button", data: { confirm: "Are you sure?" }, method:  :delete %></p>
    <% end %>
  </div>
</div>