<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>List of articles:</h1>
    <% @articles.each do |artcl| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= artcl.title %></h3>
        </div>
        <div class="panel-body">
        
          <p><%= artcl.text %></p>
          <div class="btn-group btn-group-xs" role="group" aria-label="Buttonz">
            <%= link_to 'Show!', article_path(artcl), class: "btn btn-default", role: "button" %>
            <%= link_to 'Edit', edit_article_path(artcl), class: "btn btn-default", role: "button" %>
            <%= link_to 'Delete', article_path(artcl), class: "btn btn-default", role: "button", data: { confirm: "Are you sure?" }, method:  :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>