<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2><%= @article.title %></h2>
    <p><%= @article.text %></p>
    <h4>Comments:</h4>
    <div class="col-xs-8 col-xs-offset-2">
      <% @art_comm.each do |comm| %>
      <p><b><%=comm.author%>:</b>&nbsp;<%=comm.body%></p>
      <%end%>
    </div>
    <hr />
    <div class="col-xs-6 col-xs-offset-4">
    <%= form_for ([@article,@article.comments.build]) do |f| %>

      <% if user_signed_in? %>
        <%= f.hidden_field :author, :value => current_user.username %>
      <% else %>
        <p>
          <%= f.label :author %><br />
          <%= f.text_field :author %>
        </p>
      <%end%>
      <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
      </p>

      <p>
        <%= f.submit %>
      </p>
      </div>

    <% end %>
  </div>
</div>