<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2><%= @article.title %></h2>
    <p><%= @article.text %></p>
    <h4>Comments:</h4>
    <div class="col-xs-8 col-xs-offset-2">
      <% @art_comm.each do |comm| %>
      <p><b><%=comm.author%>:</b>&nbsp;<%=comm.body%></p>
      <%end%>
    </div>
    <hr />
    <div class="col-xs-6">
    <%= form_for ([@article,@article.comments.build]), :html => {:class => "form-horizontal center"} do |f| %>

      <% if user_signed_in? %>
        <%= f.hidden_field :author, :value => current_user.username %>
      <% else %>
        <div class="form-group">
          <%= f.label :author, "Your name:", class: "col-xs-3 control-label" %>
          <div class="col-xs-9">
            <%= f.text_field :author, class: "form-control" %>
          </div>
        </div>
      <%end%>
      <div class="form-group">
        <%= f.label :body, "Input comment", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
         <button type="submit" class="btn btn-default">Sign in</button>
         <%= f.submit "Send", class: "btn btn-default btn-primary" %>
       </div>
      </div>
  
      </div>

    <% end %>
  </div>
</div>