<h1><%= t('feedbacks.leave_feedback') %></h1>

<%= form_for :feedback, url: feedbacks_path do |f| %>

  <% if @feedback && @feedback.errors.any? %>
    <p>
    <ul>
    <% @feedback.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
    </ul>
    </p>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
  <%= f.label :content %><br />
  <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit 'Send message' %>
  </p>

<% end %>
